<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Ajout d'un nouveau groupe dans la section cms existante -->
        <section id="cms">
            <group id="canonical" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Canonical urls</label>
                <field id="enable_canonical" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Enable Canonical for cms pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_trailing_slash" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Use trailing slash</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>